.HomePage {
    height: 100%;
}

.home-page-mapa>div {
    height: 100%;
}

h1 {
    margin: 0;
    padding: 10px 10px;
}

.home-bottom-nav {
    display: none;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px -1px 3px 0px rgba(0, 0, 0, 0.322);
    z-index: 100;
    position: fixed;
    bottom: 0;
}

.cont-res-busqueda {
    position: fixed;
    width: 100%;
    max-height: 70%;
    top: 52px;
    z-index: 200;
    overflow-y: scroll;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.322);
}

.barra-busqueda-movil {
    display: none;
}

.nav-barra-escritorio {
    display: block;
}

.cont-home-bottom-nav { 
    display: none;
}

@media screen and (max-width: 715px) {
    .nav-barra-escritorio {
        display: none;
    }

    .barra-busqueda-movil {
        display: block;
    }

    .cont-home-bottom-nav { 
        display: block;
    }
}