.cont-lista-bloques {
    display: flex;
    justify-content: center;
}

.lista-bloques {
    width: 100%;
    max-width: 1108px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(297px, 1fr));
}

.cont-lista-bloques {
    overflow: auto;
    box-sizing: border-box;
    padding-bottom: 56px;
}

